.top-bar {
  width: 100%;
  background-color: var(--ifm-navbar-background-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: var(--ifm-navbar-height);
  box-shadow: var(--ifm-navbar-shadow);
  left: 0;
  z-index: 999;
}

.filters {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}
