:root {
  --mnk-take-picture-button-border: 3px;
  --mnk-take-picture-button-color: #f3f3f3;
  --mnk-take-picture-button-color-hover: #e3e3e3;
  --mnk-take-picture-button-color-active: #cbcbcb;
  --mnk-take-picture-button-color-disabled: #b6b6b6be;
}

.mnk-take-picture-button {
  border: var(--mnk-take-picture-button-border) solid var(--mnk-take-picture-button-color);
  border-radius: 50%;
  display: inline-block;
}

.mnk-take-picture-button.disabled {
  border-color: var(--mnk-take-picture-button-color-disabled);
}

.mnk-take-picture-button > button {
  background-color: #f3f3f3;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.mnk-take-picture-button:not(.disabled) > button:hover {
  background-color: var(--mnk-take-picture-button-color-hover);
}

.mnk-take-picture-button:not(.disabled) > button:active {
  background-color: var(--mnk-take-picture-button-color-active);
}

.mnk-take-picture-button.disabled > button {
  background-color: var(--mnk-take-picture-button-color-disabled);
  cursor: initial;
}
