.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.config-text-area {
  margin-top: 30px;
  width: 70%;
  height: 800px;
  border-radius: 10px;
  font-family: monospace;
  background-color: var(--text-area-background);
  padding: 10px;
}

.capture-type-switch {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

@media screen and (max-width: 900px) {
  .config-text-area {
    width: 100%;
  }
}
