.test-view-container {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.select-container {
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 9999;
}
