html,
body,
#root,
.app-container {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  align-self: stretch;
  flex: 1;
  padding-top: 65px;
}

.content-container.fullscreen {
  padding-top: 0;
}

body {
  margin: 0;
  background-color: #000000;
  font-family: sans-serif;
  color: white;
}
