.mnk-simple-camera-hud-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.mnk-simple-camera-hud-container > .mnk-message-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mnk-simple-camera-hud-container > .mnk-message-container > .mnk-error-message {
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;
  color: white;
  max-width: 60vw;
}

.mnk-simple-camera-hud-container > .mnk-message-container > .mnk-retry-btn {
  margin-top: 20px;
}

.mnk-simple-camera-hud-container > .mnk-simple-camera-hud-take-picture-btn {
  margin-right: 20px;
}

@media screen and (orientation: portrait) {
  .mnk-simple-camera-hud-container {
    flex-direction: column;
  }

  .mnk-simple-camera-hud-container > .mnk-message-container > .mnk-error-message {
    max-width: none;
    padding: 20px;
  }

  .mnk-simple-camera-hud-container > .mnk-simple-camera-hud-take-picture-btn {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
