@-webkit-keyframes mnk-spinner-container-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes mnk-spinner-container-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes mnk-spinner-layer-1-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(220deg);
  }
}
@keyframes mnk-spinner-layer-1-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(220deg);
  }
}
@-webkit-keyframes mnk-spinner-layer-2-spin {
  0% {
    -webkit-transform: rotate(-140deg);
  }
  50% {
    -webkit-transform: rotate(-160deg);
  }
  100% {
    -webkit-transform: rotate(140deg);
  }
}
@keyframes mnk-spinner-layer-2-spin {
  0% {
    transform: rotate(-140deg);
  }
  50% {
    transform: rotate(-160deg);
  }
  100% {
    transform: rotate(140deg);
  }
}

.mnk-spinner .mnk-spinner-container {
  position: relative;
  -webkit-animation: mnk-spinner-container-spin 4.8s linear infinite;
  animation: mnk-spinner-container-spin 4.8s linear infinite;
}

.mnk-spinner .mnk-spinner-layer-1 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  -webkit-animation: mnk-spinner-layer-1-spin 1.2s linear infinite;
  animation: mnk-spinner-layer-1-spin 1.2s linear infinite;
}

.mnk-spinner .mnk-spinner-layer-2 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-style: solid;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: mnk-spinner-layer-2-spin 1.2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: mnk-spinner-layer-2-spin 1.2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
